body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f4f4f4;
  color: #333;
  padding: 5%;
}

h1 {
  text-align: center;
  font-family: 'Gill Sans', sans-serif;
  color: #0044cc;
}

header {
  background-color: #a5a1a1;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

nav {
  background-color: #666;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  width: 80%;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav img {
  width: 10%;
}

main {
  background-color: #f0eaea;
  font-size: 18px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

main div {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
}

.grid img {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

main a {
  color: #1366be;
  text-decoration: underline;
  font-weight: bold;
}

main a:hover {
  color: orange;
  text-decoration: underline;
}

footer {
  text-align: center;
  background-color: #505068;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #ff9900;
  text-decoration: underline;
}

p {
  line-height: 1.5;
}

img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
